html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('../images/bg-pattern.png');
}
.image-finder {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
.search-form {
  text-align: center;
}
.image-input {
  width: 300px;
  height: 35px;
  border-radius: 8px;
  border-color: beige;
  box-shadow: 8px 8px #dedede;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo-card {
  margin-right: 40px;
}
img {
  width: 400px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
